html, body, h1, h2, h3, p, span, text, div {
  font-family: 'Open Sans', sans-serif;
}

/* Axes */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Bar Chart */
.barBuild {
  fill: #fef65b;
  stroke: none;
}
.barOn {
  fill: #66de9a;
  stroke: none;
}
.barOff {
  fill: #ff8c69;
  stroke: none;
}

/* Legend */
#legend {
  display: inline-block;
	vertical-align: top;
}

/* Info */
#info {
  margin-bottom: 30px;
}

/* Tooltips */
.tooltip {
  background: rgba(237, 237, 237, 0.7);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1;
  padding: 12px;
}

.tooltip:after {
  box-sizing: border-box;
  color: rgba(237, 237, 237, 0.7);
  content: '';
  display: inline;
  font-size: 10px;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 100%;
}
