.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.barBuild {
  fill: #fef65b;
  stroke: none;
}
.barOn {
  fill: #66de9a;
  stroke: none;
}
.barOff {
  fill: #ff8c69;
  stroke: none;
}
.leg{
	z-index: 100;
	padding: 5px;
	font: 10px serif;
}
